:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

li,
ul {
  margin: 0;
  padding: 0;
}


html,
body {
  margin: 0;
  padding: 0;
}


body {
  color: white !important;
  background: #171821;
  font-family: "Source Code Pro", monospace !important;

}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */

.steam-avatar {
  border-radius: 9999px;
  border: 2px solid #41A0F8;
  z-index: 40;
}

.station-avatar {
  border: 2px solid #FF8A00;
  z-index: 50;
}

.discord {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  right: 25px;
  bottom: 25px;
  background: #5865F2;
  border-radius: 9999px;
  padding: 18px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.discord img {
  height: 32px;
}

.leaflet-tooltip {
  font-size: 9px;
  padding: 2px 5px !important;
}

html[data-mantine-color-scheme="dark"] .leaflet-tile {
  filter: invert(100%) contrast(1) grayscale(100%) brightness(0.8) !important;
}

body.light .leaflet-tile {
  filter: none;
}

html[data-mantine-color-scheme="dark"] .leaflet-control-zoom-in,
html[data-mantine-color-scheme="dark"] .leaflet-control-zoom-out {
  filter: invert(100%) contrast(0.7) grayscale(100%) brightness(0.8) !important;
}

body.light .leaflet-control-zoom-in,
body.light .leaflet-control-zoom-out {
  filter: none;
}

body.light .leaflet-control-attribution,
body.light .leaflet-control-layers,
body.light .leaflet-popup-content,
body.light .leaflet-popup-content-wrapper,
body.light .leaflet-tooltip {
  background: white;
  color: black;
}

html[data-mantine-color-scheme="dark"] .leaflet-control-layers,
html[data-mantine-color-scheme="dark"] .leaflet-control-attribution,
html[data-mantine-color-scheme="dark"] .leaflet-popup-content,
html[data-mantine-color-scheme="dark"] .leaflet-popup-content-wrapper,
html[data-mantine-color-scheme="dark"] .leaflet-tooltip {
  background: rgb(34 34 34);
  color: rgb(212, 212, 212);
}

html[data-mantine-color-scheme="dark"] .leaflet-tooltip {
  background: rgb(34 34 34);
  color: rgb(235, 235, 235);
  border: solid black 1px;
}