.main {
  padding: 1rem;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-family: var(--font-mono);
  background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("/background-server-summer.webp") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.title {
  font-family: 'Saira';
  font-size: 48px;
}

.serverList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(10px, auto);

}

.statusIndicator {
  border-radius: 9999px;
  height: 12px;
  min-width: 12px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.online {
  background: #43E366;
}

.offline {
  background: #DF3838;
}

.star {
  position: absolute;
  right: 20px;
  top: 14px;
  cursor: pointer;
}

.controlsLight {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  cursor: pointer;
}

.controlsDark {
  background-color: rgb(34, 34, 34);
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  cursor: pointer;
}