:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


}

input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

li,
ul {
  margin: 0;
  padding: 0;
}


html,
body {
  margin: 0;
  padding: 0;
}


body {
  color: white;
  background: #171821;
  font-family: var(--font-mono);

}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */

.steam-avatar {
  border-radius: 9999px;
  border: 2px solid #41A0F8;
  z-index: 40;
}

.station-avatar {
  border: 2px solid #FF8A00;
  z-index: 50;
}

.discord {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  right: 25px;
  bottom: 25px;
  background: #5865F2;
  border-radius: 9999px;
  padding: 18px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.discord img {
  height: 32px;
}

.leaflet-tooltip {
  font-size: 9px;
  padding: 2px 5px !important;
}

body.dark .leaflet-tile {
  filter: invert(100%) contrast(1) grayscale(100%) brightness(0.8) !important;
}

body.light .leaflet-tile {
  filter: none;
}

.train-image {
  margin: auto;
  display: block;
}
