.main {
  padding: 1rem;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-family: var(--font-mono);

}

.main h1 {
  padding: 32px 0;
}

.serverList {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(10px, auto);

}

.server {
  background: #585A65;
  padding: 12px 32px;
  margin: 8px;
  border-radius: 12px;
  width: 70%;
  flex-direction: row;
  transition: all 150ms ease-in-out;
  align-self: center;
  justify-self: center;
  position: relative;

}

.serverName {}

.server:hover {
  background: #8B8E9F;
}

.statusIndicator {
  border-radius: 9999px;
  height: 12px;
  min-width: 12px;
  position: absolute;
  left: 20px;
  top: 16px;
}

.online {
  background: #5FF347;
}

.offline {
  background: #F34747;
}

.star {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.controls {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  cursor: pointer;
}